<link rel="stylesheet" href="/css/index.css">
<table class="table" style="margin-top: 5%;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">Runtime</th>
      {{#if my_movies}}
        <th scope="col">User_Rating</th>
      {{/if}}
      <th scope="col">Imdb_Rating</th>
    </tr>
  </thead>
	{{#each movies}}
		<tr>
            <td> <a href="/movie/{{this.ref}}">{{this.title}}</a> </td>
			<td> {{this.year}} </td>
			<td> {{this.runtime}} </td>
      {{#if ../my_movies}}
        <td> {{this.user_rating}} </td>
      {{/if}}
			<td> {{this.rating}} </td>
		</tr>
	{{/each}}
</table>
<script src="/js/index.js"></script>
